# Google Sheets API credentials
GOOGLE_SHEET_ID=
GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY=

# PIN untuk akses halaman scanner (panitia)
SCANNER_PIN=1234

# Nama aplikasi
NEXT_PUBLIC_APP_NAME=Absensi Lomba

# Timezone
TZ=Asia/Jakarta
